page-home {
    ion-content{
        // background-color:#ff8080 !important;
        background-color:#FBFF00 !important;
    
        .bg{
            background: url(../assets/intro-img.png) no-repeat center center ;
        }

        .top-buttons{
            display: flex;
            flex-direction: row;
        }
        .top-buttons button{
            flex: 1;
            background-color: #000 !important;
        }
        // .top-buttons button:first-child {
        //     background-color: #000 !important;
        // }
        // .top-buttons button:last-child {
        //     background-color: #111 !important;
        // }
    }
}
